.App {
  text-align: center;
}

.logo > img {
  max-height: 55px !important;
}

.date-header {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.circleBase {
  border-radius: 100px;
  height: 50px;
  border-style: none;
  background-color: hsl(171, 100%, 41%);
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.25);
  font-family: "Rubik";
  font-size: 1em;
}

button:focus {
  outline: none;
}
.type1 {
  width: 50px;
  color: transparent;
  transition: width 400ms 0ms, color 0ms 0ms;
  will-change: width, color;
}
.type2 {
  width: 130px;
  color: snow;
  transition: width 400ms 0ms, color 200ms 200ms;
  will-change: width, color;
}
