.invisible-card-title.is-6,
.visible-card-title.is-6 {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.box.news-source-card {
  background-image: linear-gradient(to bottom right, white, snow);
}

.card-content-title.has-text-left {
  position: relative;
}

.title.invisible-card-title.is-6 {
  visibility: hidden;
  margin-bottom: 0;
}

.title.visible-card-title.is-6 {
  position: absolute;
  top: 0;
}

.news-source-logo {
  max-height: 15px;
}

.card-animation {
  animation: keyframes-card-animation 300ms forwards;
}

.card-animation-2 {
  animation: keyframes-card-animation-2 300ms forwards;
}

@keyframes keyframes-card-animation {
  0% {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0px);
    transition: opacity 300ms linear, transform 300ms;
  }
}

@keyframes keyframes-card-animation-2 {
  0% {
    opacity: 0;
    transform: scale(0.97) translateY(5px);
  }
  50% {
    opacity: 1;
    transform: scale(1) translateY(0px);
    transition: opacity 300ms linear, transform 300ms ease-in-out 100ms;
  }
}

.dots {
  vertical-align: middle;
  max-width: 100%;
}
.dot {
  cursor: pointer;
  position: relative;
  height: 10px;
  width: 10px;
  margin-top: 15px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
  display: inline-block;
}
.dot-inactive {
  background-color: #717171;
}
.dot-active {
  background-color: #bbb;
}

/*! purgecss start ignore */
.slide-enter {
  opacity: 0;
  transform: scale(0.97) translateY(5px);
  z-index: 1;
}

.slide-enter.slide-enter-active {
  opacity: 1;

  transform: scale(1) translateY(0px);
  transition: opacity 200ms linear, transform 200ms;
  margin-bottom: 0;
}

.slide-exit {
  transform: translateY(-100%) scale(1);
  opacity: 1;
}
.slide-exit.slide-exit-active {
  transform: translateY(-99%) scale(0.97);
  position: absolute;
  opacity: 0;
  transition: opacity 200ms linear, transform 200ms;
}
.slide-exit-done {
  opacity: 0;
}
/*! purgecss end ignore */
